# Ignorer les fichiers sensibles
sonar.login
*.token

# Ignorer les fichiers générés
/target/
*.log
*.class

# Ignorer les fichiers spécifiques à l'IDE
/.idea/
*.iml
/.vscode/

# Ignorer les fichiers système
.DS_Store
Thumbs.db
